{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <header>
        <h1>Meu Blog</h1>
        <nav>
            <a href="{% url 'blog:index' %}">Pagina inicial</a>
            <a href="{% url 'blog:creatpost' %}">Criar Post</a>
            <a href="{% url 'blog:listpost' %}">Listar Posts</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Daniel Lima. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
