header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    width: 20%;
    margin: 40px auto;
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: beige;
}

h1 {
    font-size: 43px;
}

nav {
    margin-right: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav a {  
    margin-right: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 100px;
}

section {
    width: 100%;
    max-width: 100%;
    text-align: center;
    border-radius: 20px;
}

img {
    width: 15%;
}

@media (max-width: 600px) {
    header {
    flex-direction: column;
    align-items: center;
    }
    nav, nav ul {
    flex-direction: column;
    align-items: center;
    }
}