{% extends 'base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.content|safe }}</p>
    <p>Publicado em {{ post.created_at|date:"d/m/Y H:i" }}</p>

    <h2>Categorias</h2>
    <ul>
        {% for category in post.categories.all %}
            <li>
                <a href="{% url 'blog:categorydetail' category.pk %}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Comentários</h2>
    {% if comments %}
        <ul>
            {% for comment in comments %}
                <li>
                    <strong>{{ comment.author }}</strong> em {{ comment.created_at|date:"d/m/Y H:i" }}:
                    <p>{{ comment.text }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Sem comentários ainda.</p>
    {% endif %}

    <h3>Adicionar Comentário</h3>
    <form method="post" action="{% url 'blog:addcomment' post.pk %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Enviar</button>
    </form>
{% endblock %}
